.header {
  padding: 28px 48px 56px 48px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 49px;
  }
}