.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  display: flex;
  align-self: center;
  margin: 0 0 32px;
}

@media screen and (max-width: 765px) {
  .lead__title {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 64px;
  }
}

@media screen and (max-width: 518px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    padding-right: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
  }
}