.place {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  justify-content: flex-start;
  grid-template-areas: "title website" "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr 1fr;
    gap: 46px 28px;
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 618px) {
  .place {
    gap: 32px;
    grid-template-columns: 100%;
    grid-template-areas: "title"
    "website"
    "image"
    "text";
    margin-bottom: 50px;
  }
}